@tailwind base;
@tailwind utilities;



/* Custom Color Palette */
:root {
  --color-lavender: #EAE4E9;
  --color-peach: #FFF1E6;
  --color-rose: #FDE2E4;
  --color-pink: #FAD2E1;
  --color-mint: #E2ECE9;
  --color-sky: #BEE1E6;
  --color-cream: #F0EFEB;
  --color-periwinkle: #DFE7FD;
  --color-blue: #CDDAFD;
}

body {
  background-color: var(--color-cream);
  min-height: 100vh;
}